# **DBSCAN**

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('indian_food.csv')
data.head()

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East

[5 rows x 9 columns]

In [3]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  255 non-null    object
 6   course          255 non-null    object
 7   state           255 non-null    object
 8   region          254 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [4]:
data = data.drop(["course", "region"], axis=1)
data.head()

             name  ...        state
0      Balu shahi  ...  West Bengal
1          Boondi  ...    Rajasthan
2  Gajar ka halwa  ...       Punjab
3          Ghevar  ...    Rajasthan
4     Gulab jamun  ...  West Bengal

[5 rows x 7 columns]

In [7]:
array = data.values
array

array([['Balu shahi', 'Maida flour, yogurt, oil, sugar', 'vegetarian',
        ..., 25, 'sweet', 'West Bengal'],
       ['Boondi', 'Gram flour, ghee, sugar', 'vegetarian', ..., 30,
        'sweet', 'Rajasthan'],
       ['Gajar ka halwa', 'Carrots, milk, sugar, ghee, cashews, raisins',
        'vegetarian', ..., 60, 'sweet', 'Punjab'],
       ...,
       ['Shufta',
        'Cottage cheese, dry dates, dried rose petals, pistachio, badam',
        'vegetarian', ..., -1, 'sweet', 'Jammu & Kashmir'],
       ['Mawa Bati',
        'Milk powder, dry fruits, arrowroot powder, all purpose flour',
        'vegetarian', ..., 45, 'sweet', 'Madhya Pradesh'],
       ['Pinaca',
        'Brown rice, fennel seeds, grated coconut, black pepper, ginger powder',
        'vegetarian', ..., -1, 'sweet', 'Goa']], dtype=object)